<!doctype html>
<html lang='en' style='height: auto;'>
    <head>
        <title>The Boston Globe - graphic</title>
        <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <script src='https://apps.bostonglobe.com/common/js/load-fonts/load-fonts-0.0.3.js' type='text/javascript'></script>
        <noscript><link href='https://apps.bostonglobe.com/common/font/nojs-fonts.css' rel='stylesheet'></noscript>
        
        <!-- (begin) optional - this has stuff like css reset, button design, typescaling, etc. -->
        <link rel='stylesheet' href='https://apps.bostonglobe.com/common/css/base/base-1.2.0.css'>
        <!-- (end) -->
        
        <!-- smoosh -->
        <link rel='stylesheet' href='css/main.css'>
        <!-- endsmoosh -->

        <link rel='shortcut icon' href='https://www.bostonglobe.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/favicon.ico' />
    </head>
    <body style='height: auto;'>
        <!-- IMPORTANT DO NOT DELETE -->
        <div id='globe-graphic-container' style='height: 100%; overflow: hidden;'>
            
            <!-- (begin) graphic html here -->
            <h1>Redrafting the last 5 NBA drafts</h1>
            <h2 class='theta'>With the benefit of 20/20 hindsight, Gary Washburn projects how the 2010-2014 drafts might have gone if we knew then what we know now.</h1>

            <div class='tables'>

<!--            <div class='table'>

                    <div class='year'><span>2010</span></div>
                    <div class='buttons'>
                        <button class='before'>before</button>
                        <button class='after'>after</button>
                    </div>
                    <div class='picks'>
                        <div class='no-changes'>
                            <div class='no-change row'>
                                <div class='number cell'><span>1</span></div>
                                <div class='logo cell'><span>logo</span></div>
                                <div class='team cell'><span>team</span></div>
                            </div>
                            <div class='no-change row'>
                                <div class='number cell'><span>1</span></div>
                                <div class='logo cell'><span>logo</span></div>
                                <div class='team cell'><span>team</span></div>
                            </div>
                            <div class='no-change row'>
                                <div class='number cell'><span>1</span></div>
                                <div class='logo cell'><span>logo</span></div>
                                <div class='team cell'><span>team</span></div>
                            </div>
                        </div>
                        <div class='changes'>
                            <div class='change row'>
                                <div class='cell player'><span>player</span></div>
                                <div class='cell headshot'><span>headshot</span></div>
                            </div>
                            <div class='change row'>
                                <div class='cell player'><span>player</span></div>
                                <div class='cell headshot'><span>headshot</span></div>
                            </div>
                            <div class='change row'>
                                <div class='cell player'><span>player</span></div>
                                <div class='cell headshot'><span>headshot</span></div>
                            </div>
                        </div>
                    </div>


                </div>

 -->            </div>

<!--             <div class='picks'>
                
                <div class='pick'>
                    

                </div>


            </div>
 -->



            

            
            <!-- (end) -->

            <div class='source-and-credit'>
                <p class='source'><span></span></p>
                <p class='credit'><span>Luke Knox, Gabriel Florit / Globe Staff</span></p>
            </div>
        </div>
        <!-- (begin) js libraries optional [jquery is not required] -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- (end) -->
        
        <!-- smoosh -->
        <script src='js/bundle.js' type='text/javascript'></script>
        <!-- endsmoosh -->

        <!-- (begin) globe iframe embed -->
        
        <script src='https://apps.bostonglobe.com/common/js/globe-iframe/globe-iframe-0.1.1.js' type='text/javascript'></script>
        <!-- (end) -->
    </body>
</html>