// to use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')
$benton = 'Benton', Helvetica, Arial, sans-serif
$sansSerif = Helvetica, Arial, sans-serif

.table
	font-family $sansSerif
	
.buttons
	button
		margin-right 1em
		
h1
	font-family $benton

h2
	font-family $sansSerif

.tables {
	margin-top 1em
}

.picks
	margin-top 1em
	width 100%
	overflow hidden

	.no-changes
		float left
		width 50%
		.no-change
			height 3 * 15px
			margin-top 6px
			margin-bottom 6px
			.cell
				display inline-block
				&.number
					width 20%
					text-align right
					span
						font-family $benton
				&.logo
					display none
				// &.logo
				// 	width 20%
				// 	text-align center
				// 	img
				// 		height 1 * 15px
				&.team
					width 70%
					span
						padding-left 0.5 * 15px
	
	.changes
		float left
		width 50%
		position relative
		.change
			.offsetLeft
				// left -50px
			position absolute
			width 100%
			height 3 * 15px
			margin-top 6px
			margin-bottom 6px
			.cell
				display inline-block
				&.player
					width 100%
					background #58899E
					padding-left 0.5 * 15px
					color white
					font-family $benton
				&.headshot
					display none
				// &.player
				// 	width 50%
				// &.headshot
				// 	width 40%
				// 	img
				// 		width 100%






